/* OVERRIDES */
.w-100 {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.m-auto {
  margin: auto;
}

/* CUSTOM STYLES */
.card-image {
  height: 300px;
  display: flex;
}
.card-image > img {
  filter: drop-shadow(0 0 black);
  max-width: 200px;
}